.body {
  background-color: #fefcf6;
}

.link-nav {
  margin-left: 50px;
  font-family: Cousine, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.link-nav:hover {
  text-decoration: underline;
}

.h3 {
  margin-bottom: 30px;
  font-family: Cousine, sans-serif;
  color: #999;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.h3.align-right {
  text-align: right;
}

.h1 {
  width: 100%;
  font-family: Asul, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 400;
}

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.navigation-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.intro {
  margin-top: 60px;
  margin-bottom: 10px;
}

.image {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 620px;
}

.image-2 {
  position: absolute;
  left: 30px;
  bottom: 151px;
  width: 350px;
}

.white-background {
  position: absolute;
  left: 0px;
  top: 100px;
  width: 65vw;
  height: 510px;
  background-color: #fff;
}

.about {
  position: relative;
  margin-bottom: 0px;
}

.about-wrapper {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 870px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.intro-wrapper {
  max-width: 99%;
}

.about-text {
  position: absolute;
  right: 50px;
  bottom: 156px;
  display: block;
  width: 400px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.menu-intro {
  max-width: 71%;
}

.menu {
  position: relative;
}

.white-background-2 {
  position: absolute;
  top: 4vw;
  right: 0px;
  width: 75vw;
  height: 750px;
  background-color: #fff;
}

.menu-container {
  position: relative;
  z-index: 1;
  overflow: visible;
  height: 85vh;
}

.tab-link {
  background-color: transparent;
  font-family: Cousine, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.tab-link.w--current {
  background-color: transparent;
  color: #333;
  text-decoration: underline;
}

.tabs-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 78px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tabs-wrapper {
  display: block;
  margin-top: 15px;
  margin-bottom: 120px;
}

.image-3 {
  position: absolute;
  top: 0px;
  right: 0px;
  max-height: 510px;
}

.reservation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 630px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.reservations-info {
  position: absolute;
  left: 108px;
  bottom: 246px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.text-block {
  width: 220px;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Cousine, sans-serif;
  color: #999;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
}

.text-block.align-right {
  margin-left: 17px;
  text-align: left;
}

.column {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link {
  display: none;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-family: Cousine, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.link:hover {
  text-decoration: underline;
}

.time {
  display: none;
  width: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: left;
}

.images-wrapper {
  position: relative;
  height: 390px;
}

.image-4 {
  position: absolute;
  left: 0px;
  top: 0px;
  max-height: 390px;
}

.image-5 {
  position: absolute;
  right: 0px;
  bottom: 60px;
  max-height: 210px;
}

.images {
  margin-bottom: 120px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.separator-big {
  height: 1px;
  background-color: #d8d8d8;
}

.h2 {
  width: 100%;
  margin-top: 10px;
  margin-left: 0px;
  font-family: Asul, sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

.footer-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33.33%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.footer-info-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 90px;
  margin-bottom: 90px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.link-2 {
  -webkit-transition: color 200ms ease, opacity 200ms ease;
  transition: color 200ms ease, opacity 200ms ease;
  font-family: Cousine, sans-serif;
  color: #999;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

.link-2:hover {
  color: #333;
  text-decoration: underline;
}

.text-block-3 {
  position: static;
  clear: none;
  font-family: Cousine, sans-serif;
  color: #999;
  line-height: 24px;
}

.menu-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.tabs {
  display: block;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
}

.tab-pane {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-items-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.separator {
  height: 1px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: #d8d8d8;
}

.logo-header {
  font-family: Asul, sans-serif;
  font-size: 22px;
  line-height: 48px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  text-decoration: none;
}

.navbar {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: none;
  height: 5vh;
  clear: none;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #fff;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-align: right;
}

.book-now-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-family: Cousine, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.book-now-nav:hover {
  text-decoration: underline;
}

.text-block-4 {
  margin-right: 26px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-7 {
  margin: 6px;
}

.text-bloc4 {
  position: static;
  clear: none;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  font-family: Cousine, sans-serif;
  color: #999;
  line-height: 24px;
}

.vendor-website {
  position: static;
  margin-top: 19px;
  clear: none;
  font-family: Cousine, sans-serif;
  color: #999;
  line-height: 24px;
}

.div-block-2 {
  margin-left: 18px;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.time-table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: left;
}

.location-name {
  width: 220px;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Cousine, sans-serif;
  color: #999;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  border-right-style: solid;
}

.location-name.align-right {
  margin-left: 17px;
  text-align: left;
}

.date-time {
  width: 130px;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Cousine, sans-serif;
  color: #999;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  padding-left: 5px;
}

.date-time.align-right {
  margin-left: 17px;
  text-align: left;
}

.book-now {
  width: 220px;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Cousine, sans-serif;
  color: #999;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
}

.book-now.align-right {
  width: 80px;
  margin-left: 17px;
  text-align: left;
}

.left-reservation-column {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 991px) {
  .link-nav {
    margin-left: 30px;
  }
  .h3.align-right {
    text-align: left;
  }
  .navigation {
    padding-right: 30px;
    padding-left: 30px;
  }
  .intro {
    padding-right: 30px;
    padding-left: 30px;
  }
  .image-2 {
    left: 12px;
    bottom: 138px;
    width: 275px;
  }
  .about {
    padding-right: 30px;
    padding-left: 30px;
  }
  .intro-wrapper {
    max-width: 100%;
  }
  .about-text {
    right: 20px;
    bottom: 133px;
    width: 350px;
  }
  .menu-intro {
    max-width: 100%;
  }
  .menu {
    padding-right: 30px;
    padding-left: 30px;
  }
  .image-3 {
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    max-height: 80%;
    max-width: 80%;
    margin-top: 22px;
  }
  .reservation {
    height: 400px;
    margin-top: 44px;
  }
  .reservations-info {
    left: -27px;
    bottom: -12px;
    width: 100%;
  }
  .column {
    width: 80vw;
    margin-bottom: 137px;
  }
  .image-4 {
    max-height: 360px;
  }
  .image-5 {
    bottom: 90px;
    max-height: 180px;
  }
  .images {
    padding-right: 30px;
    padding-left: 30px;
  }
  .footer-info-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .div-block-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .left-reservation-column {
    width: 0vw;
    margin-bottom: 137px;
  }
}

@media (max-width: 767px) {
  .h3.align-right {
    width: 100%;
    text-align: left;
  }
  .image {
    width: 360px;
  }
  .image-2 {
    bottom: 210px;
    width: 210px;
  }
  .white-background {
    height: 450px;
  }
  .about-wrapper {
    height: 660px;
  }
  .about-text {
    right: 27px;
    bottom: 51px;
    width: 240px;
    margin-top: 0px;
  }
  .image-3 {
    position: static;
    left: 0px;
    top: 0px;
    right: auto;
    max-height: 240px;
  }
  .reservation {
    height: 300px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .reservations-info {
    position: static;
    left: 30px;
    top: 0px;
    right: 30px;
    bottom: auto;
    width: 100%;
    margin-top: -96px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .column {
    position: static;
    width: 100vw;
    margin-bottom: 34px;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .time {
    width: 100%;
  }
  .images-wrapper {
    top: 21px;
    bottom: 0px;
    height: 150px;
  }
  .image-4 {
    display: none;
  }
  .image-5 {
    bottom: 0px;
    display: none;
  }
  .images {
    margin-top: 150px;
  }
  .h2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-size: 16px;
  }
  .footer-info {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .footer-info-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer {
    padding-right: 30px;
    padding-left: 30px;
  }
  .time-table {
    width: 100%;
  }
  .left-reservation-column {
    position: static;
    width: 100vw;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

@media (max-width: 479px) {
  .body {
    height: auto;
  }
  .link-nav {
    margin-left: 0px;
    font-size: 11px;
  }
  .h3.align-right {
    margin-top: 9px;
  }
  .h1 {
    font-size: 24px;
    line-height: 36px;
  }
  .navigation {
    overflow: hidden;
    height: auto;
    padding-right: 20px;
    padding-left: 20px;
  }
  .navigation-container {
    margin-top: 30px;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navigation-wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .links-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .intro {
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 60px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .image {
    right: 95px;
    width: 80%;
    margin-top: 36px;
  }
  .image-2 {
    left: 0px;
    top: 100px;
    bottom: auto;
    display: none;
    width: 180px;
  }
  .about {
    top: -51px;
    overflow: hidden;
    margin-bottom: 60px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .about-wrapper {
    height: 600px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .about-text {
    left: 20px;
    right: 20px;
    bottom: 97px;
    width: auto;
    margin-top: 6px;
    padding-top: 0px;
  }
  .menu {
    top: -145px;
    overflow: hidden;
    margin-bottom: -168px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .white-background-2 {
    height: 960px;
  }
  .menu-container {
    height: 720px;
  }
  .tab-link {
    padding-right: 15px;
    padding-left: 15px;
  }
  .tabs-wrapper {
    margin-bottom: 90px;
  }
  .image-3 {
    max-height: auto;
  }
  .reservation {
    overflow: hidden;
    height: auto;
  }
  .reservations-info {
    margin-top: -9px;
  }
  .text-block {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 8px;
    line-height: 32px;
  }
  .text-block.align-right {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .column {
    margin-top: -14px;
    margin-bottom: 29px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .link {
    margin-top: 17px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .images-wrapper {
    display: none;
    height: 370px;
    margin-bottom: 60px;
  }
  .image-4 {
    max-height: 210px;
  }
  .image-5 {
    max-height: 120px;
  }
  .images {
    overflow: hidden;
    margin-top: 60px;
    margin-bottom: 90px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .h2 {
    margin-top: 0px;
    font-size: 14px;
    line-height: 22px;
  }
  .link-2 {
    font-size: 10px;
  }
  .footer {
    margin-top: -99px;
  }
  .text-block-3 {
    width: 95%;
    margin-bottom: 23px;
    font-size: 13px;
    line-height: 17px;
  }
  .menu-item {
    width: 100%;
    margin-bottom: -7px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .menu-items-wrapper {
    height: auto;
  }
  .separator {
    margin-right: 0px;
    margin-left: 0px;
  }
  .image-6 {
    height: 18px;
  }
  .logo {
    margin-bottom: 20px;
  }
  .footer-container {
    margin-top: -2px;
  }
  .logo-header {
    font-size: 24px;
    line-height: 36px;
  }
  .div-block {
    height: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .image-7 {
    margin-bottom: 41px;
  }
  .div-block-2 {
    height: 800px;
    margin-left: 0px;
  }
  .div-block-3 {
    margin-bottom: 7px;
  }
  .location-name {
    width: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 8px;
    line-height: 32px;
  }
  .location-name.align-right {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .date-time {
    width: 88px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    line-height: 32px;
  }
  .date-time.align-right {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .book-now {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 8px;
    line-height: 32px;
  }
  .book-now.align-right {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    font-size: 12px;
  }
  .left-reservation-column {
    margin-top: -14px;
    margin-bottom: 29px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

